<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.se.dao.CategoryDao">
	<resultMap type="com.se.entity.Category" id="CategoryRM">
		<id column="id" property="id" />
		<result column="title" property="title" />
		<result column="description" property="description" />
		<result column="parentid" property="parentid" />
	</resultMap>

	<!-- _____________________________________________________________________________ 全部字段 -->

	<sql id="COLUMNS">
		id,title,description,parentid
	</sql>

	<!-- _____________________________________________________________________________ 1.add -->

	<insert id="add" parameterType="com.se.entity.Category">
		insert into ui_category (id,title,description,parentid)
		values (#{id},#{title},#{description},#{parentid})
	</insert>

	<!-- ______________________________________________________________________________ 2.modify -->

	<update id="modify" parameterType="com.se.entity.Category">
		update ui_category 
		<set> 
			<if test="title != null">title = #{title},</if>
			<if test="description != null">description = #{description},</if>
			<if test="parentid != null">parentid = #{parentid}</if>
		</set> 
		where id = #{id}
	</update>

	<!-- _____________________________________________________________________________ 3.removeById -->

	<delete id="removeById" parameterType="string">
		delete from ui_category where id=#{id} 
	</delete>

	<!-- _____________________________________________________________________________ 4.removeByIds -->

	<delete id="removeByIds" parameterType="List">
		delete from ui_category where id in 
		<foreach collection = "list" index="index"  item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<!-- _____________________________________________________________________________ 5.listAll -->

	<select id="listAll" resultMap="CategoryRM">
		select <include refid="COLUMNS" /> from ui_category 
	</select>

	<!-- _____________________________________________________________________________ 6.listBy -->

	<select id="listBy" parameterType="map" resultMap="CategoryRM">
		select <include refid="COLUMNS" /> from ui_category 
		<where>
			<if test="id != null">and id = #{id}</if>
			<if test="title != null">and title = #{title}</if>
			<if test="description != null">and description = #{description}</if>
			<if test="parentid != null">and parentid = #{parentid}</if>
		</where>
	</select>

	<!-- _____________________________________________________________________________ 7.pageBy -->

	<select id="pageBy" parameterType="map" resultMap="CategoryRM">
		select <include refid="COLUMNS" /> from ui_category
		<where>
			<if test="id != null">and id = #{id}</if>
			<if test="title != null">and title = #{title}</if>
			<if test="description != null">and description = #{description}</if>
			<if test="parentid != null">and parentid = #{parentid}</if>
		</where>
		order by id desc 
		limit #{startIdx},#{limit}
	</select>

    <!-- _____________________________________________________________________________ 8.1.findByMap -->

	<select id="findByMap" parameterType="map" resultMap="CategoryRM">
		select <include refid="COLUMNS" /> from ui_category
		<where>
			<if test="id != null">and id = #{id}</if>
			<if test="title != null">and title = #{title}</if>
			<if test="description != null">and description = #{description}</if>
			<if test="parentid != null">and parentid = #{parentid}</if>
		</where>
	</select>
	
	<!-- _____________________________________________________________________________ 8.2.findBy -->

	<select id="findBy" parameterType="com.se.entity.Category" resultMap="CategoryRM">
		select <include refid="COLUMNS" /> from ui_category
		<where>
			<if test="id != null">and id = #{id}</if>
			<if test="title != null">and title = #{title}</if>
			<if test="description != null">and description = #{description}</if>
			<if test="parentid != null">and parentid = #{parentid}</if>
		</where>
	</select>

	<!-- _____________________________________________________________________________ 9.findById -->

	<select id="findById" parameterType="string" resultMap="CategoryRM">
		select <include refid="COLUMNS" /> from ui_category where id = #{id}
	</select>

	<!-- _____________________________________________________________________________ 10.countAll -->

	<select id="countAll" resultType="integer">
		select count(id) from ui_category 
	</select>

	<!-- _____________________________________________________________________________ 11.countBy -->

	<select id="countBy" parameterType="map" resultType="integer">
		select count(id) from ui_category 
		<where>
			<if test="id != null">and id = #{id}</if>
			<if test="title != null">and title = #{title}</if>
			<if test="description != null">and description = #{description}</if>
			<if test="parentid != null">and parentid = #{parentid}</if>
		</where>
	</select>

	<!-- _____________________________________________________________________________ 扩展  -->



</mapper>
